@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.weather-container {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 5vh;
}

.weather-input-data {
  border-radius: 7px;
  background: #cac8bb;
  color: #1e1e1e;
  border-color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 260px;
  text-align: center;
  text-wrap: wrap;
  height: 30px;
  
}

.weather-input-data::placeholder {
  
  font-style: italic;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.weather-search-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  width: 90px;
  height: 30px;
  border-radius: 7px;
  background: #8eaccd;
  outline: none;
  box-shadow: none;
  color: black;
  border-color: black;
}

.display-weather-container {
  margin-top: 2rem;
  background-color: #aec3ae;
  overflow: hidden;
  border-radius: 12px;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  
}

.weather-details-text {
  color: #1e1e1e;

  font-size: 16px;
  font-style:normal;
  font-weight: 800;
  line-height: normal;
  padding: 0.5rem;
  padding-left: 0rem;
}
.content-partitioner {
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 30%;
  flex-wrap: wrap;
}

 .weather-day-temp-container,.weather-day{
  margin-top: 1rem;
  background-color: #aec3ae;
 
 min-width: 50%;
  padding-right: 1.5rem;
 align-items:flex-start;
  border-radius: 12px;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
 }

.weather-temp,.weather-city{
 
  color: #1e1e1e;
  font-family: 'Nunito', sans-serif;
  font-size: 60px;
  font-style:normal;
  word-spacing: -12px;
  padding-left: 2rem;
 }

 .weather-city{
  word-spacing: 2px!important;
  font-size: 20px;
   
 }
.main-container{
  display: flex;
  column-gap: 1vh;
  width: auto;
  flex-wrap: wrap;
  flex-direction: column;
}

.weather-day{
  color: #1e1e1e;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  font-style:normal;
  word-spacing: -12px;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}
