@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300&display=swap");

.weather-container {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
}

.weather-input-data {
  border-radius: 13px;
  background: #f9f3cc;
  color: #1e1e1e;
  border-color: black;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 260px;
  text-align: center;
  text-wrap: wrap;
  height: 30px;
}

.weather-input-data::placeholder {
  font-style: italic;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.weather-search-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  width: 109px;
  height: 30px;
  border-radius: 13px;
  background: #f9f3cc;
  color: black;
  border-color: black;
}

.display-weather-container {
  margin-top: 2rem;
  background-color: #aec3ae;
  overflow: hidden;
  border-radius: 12px;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.weather-details-text {
  color: #1e1e1e;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0.5rem;
  padding-left: 0rem;
}
.content-partitioner {
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 30%;
  flex-wrap: wrap;
}
